<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{{.Title}}</title>

		<!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/monokai.min.css"> -->

		<script
		  src="https://code.jquery.com/jquery-3.3.1.min.js"
		  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		  crossorigin="anonymous"></script>


		<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
		<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script> -->

		<!-- <link href="https://bootswatch.com/4/darkly/bootstrap.css" rel="stylesheet" id="bootstrap-css"> -->



		<!-- Bootstrap core CSS -->
	    <link href="https://blackrockdigital.github.io/startbootstrap-grayscale/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	    <!-- Custom fonts for this template -->
	    <link href="https://blackrockdigital.github.io/startbootstrap-grayscale/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
	    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

	    <!-- Custom styles for this template -->
	    <link href="https://blackrockdigital.github.io/startbootstrap-grayscale/css/grayscale.min.css" rel="stylesheet">

		<!-- Bootstrap core JavaScript -->
	    <script src="https://blackrockdigital.github.io/startbootstrap-grayscale/vendor/jquery/jquery.min.js"></script>
	    <script src="https://blackrockdigital.github.io/startbootstrap-grayscale/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	    <!-- Plugin JavaScript -->
	    <script src="https://blackrockdigital.github.io/startbootstrap-grayscale/vendor/jquery-easing/jquery.easing.min.js"></script>

	    <!-- Custom scripts for this template -->
	    <script src="https://blackrockdigital.github.io/startbootstrap-grayscale/js/grayscale.min.js"></script>




		<!-- Markdown editor -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
		<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>


		<style>
			/*.content {
				padding-top: 74px;
				padding-bottom: 74px;
			}

			h1, h2, h3, h4, h5, h6 {
				margin: 0px !important;
			}

			.image-container {
				padding: 4px 8px 4px 8px;
			}

			.left {
				float: left;
			}

			.right {
				float: right;
			}*/


			#pageEditor, #savePage {
				display: none;
			}

			#savePage {
				float: right;
			}

			.editor-toolbar {
				background-color: white;
			}








		</style>

	</head>
	<body id="page-top">

	    <!-- <div class="content">
			<div class="container">
				<div>{{.Body}}</div>

				<textarea id="pageEditor">{{.Raw}}</textarea>
				<button id="savePage">Submit</button>

			</div>
		</div> -->






		<div id="wrapper">



			 <div class="overlay"></div>

	         <!-- Sidebar -->
	         <!-- /#sidebar-wrapper -->

	         <!-- Page Content -->
	         <div id="page-content-wrapper">

	             <!-- <div class="container-fluid"> -->
	             <div class="container">
	                 <div class="row">
	                     <!-- <div class="col-lg-12"> -->
						 <div class="col-lg-8 col-lg-offset-2">

							 <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
				                 <span class="hamb-top"></span>
				     			<span class="hamb-middle"></span>
				 				<span class="hamb-bottom"></span>
				             </button>


							 <div>{{.Body}}</div>

			 				<textarea id="pageEditor">{{.Raw}}</textarea>
			 				<button id="savePage">Submit</button>


	                     </div>
	                 </div>
	             </div>
	         </div>
	         <!-- /#page-content-wrapper -->

	     </div>
	     <!-- /#wrapper -->







		<script>



		// // Menu Toggle Script
		// $("#menu-toggle").click(function(e) {
		// 	e.preventDefault();
		// 	$("#wrapper").toggleClass("toggled");
		// });




			var sidebar = {{.Sidebar}};


			var url = new URL(window.location.href);
			var edit = url.searchParams.get("edit");
			if ("true" == edit) {
				$('#pageEditor').show();
				$('#savePage').show();

				// https://github.com/sparksuite/simplemde-markdown-editor
				var editor = new SimpleMDE({
					element: document.getElementById("pageEditor"),
					spellChecker: false,
				});


				function savePage(){
					$.post(window.location.pathname, editor.value(), function(data){
						if (data.status && "ok" == data.status) {
							return window.location.reload();
						}
						console.log(data);
					})
					.fail(function(err){
						console.log(err)
					});
					// $.ajax(
					// 	type: "POST",
					// 	url: window.location.pathname,
					// 	data: editor.value(),
					// 	success:function(err,res){
					// 	// location.reload();
					// 	console.log(err,res);
					// },
					// error: function()
					// );
				}

				$("#savePage").on('click', savePage);

			}
		</script>

	</body>
</html>
